body {
    align-items: baseline;
    background-image: linear-gradient(236deg, #0c0c0c, #e4e3e3);
    height: 100vh;
    justify-content: center;
  }
  .card{
    display: flex;
    justify-content: center;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Ajuste a altura conforme necessário */
    background-color: black;
}
.nav {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
    margin: 0 20px; /* Espaçamento entre os links (ajuste conforme necessário) */
}
@media only screen and (max-width: 768px) {
  .nav {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    margin-right: 20px;
}
}

